body {
    margin: 0;
    font-family: Arial;
    background: black;
}

/* Main box */
.box {
    width: 600px;
    margin: 100px auto;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0,255,255,0.5);
}

/* Left side */
.left {
    width: 50%;
    background: #111;
    color: white;
    padding: 30px;
}

.left input {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border: none;
    border-bottom: 2px solid cyan;
    background: none;
    color: white;
}

button {
    width: 100%;
    padding: 8px;
    background: cyan;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}
button:hover{
    color:white;
    cursor: pointer;
    background-color: lightskyblue;
}

.left a {
    color: cyan;
    text-decoration: underline;
}

/* Right side */
.right {
    width: 50%;
    background: cyan;
    text-align: center;
    padding: 40px 10px;
}